@import "tailwindcss";

@theme inline {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
}

* {
  font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

body {
  min-height: 100dvh;
}