@import "tailwindcss";

@theme inline {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-tertiary: "Bodoni Moda", serif;
  --color-base: #f8fafd;
  --color-just-black: #0e100f;
  --color-just-blue: #4169e1;
  --color-just-purple: #4716ed;
  --color-dark-purple: #300a44;
}


@layer base {
  body {
    font-family: var(--font-secondary);
    @apply text-just-black
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-primary;
  }
  .font-tertiary {
    @apply relative text-2xl;
  }
  .font-tertiary::after {
    content: '';
    width: full;
    @apply absolute bg-white/10 h-1/3 -mb-1 w-full skew-x-12 left-0 bottom-1 -z-10 rounded-sm;
  }
}

body {
  min-height: 100dvh;
  background-color: var(--color-base);
}

.my-bg-radial {
  background: radial-gradient(circle at bottom, var(--color-just-blue) 0%, var(--color-just-purple) 100%);
}

@keyframes breathing {
  0% { transform: scale(1); }         /* mulai normal */
  /* 30% { transform: scale(1.08, 1.02); } tarik napas, lebih lambat di awal */
  50% { transform: scale(1.12, 1.04); } /* puncak tarikan */
  /* 70% { transform: scale(1.06, 1.01); } buang napas, lebih cepat tapi halus */
  100% { transform: scale(1); }       /* kembali normal */
}

.diaphragmatic {
  animation: breathing 8s ease-in-out infinite;
  will-change: transform;
  backface-visibility: hidden;
} 