@import "tailwindcss";

@theme inline {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --font-tertiary: 'Courgette', cursive;
  --color-base: #f8fafd;
  --color-just-black: #0e100f;
  --color-just-blue: #4169e1;
  --color-just-purple: #4716ed;
  --color-dark-purple: #300a44;
}


@layer base {
  body {
    font-family: var(--font-secondary);
    @apply text-just-black
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-primary;
  }
}


body {
  min-height: 100dvh;
  background-color: var(--color-base);
}

.my-bg-radial {
  background: radial-gradient(circle at bottom, var(--color-just-blue) 0%, var(--color-just-purple) 100%);
  /* Require: Add height or other utilities for full coverage */
}