@import "tailwindcss";

@theme inline {
  --font-primary: 'Montserrat', sans-serif;
  --font-secondary: 'Poppins', sans-serif;
  --color-base: #f8fafd;
}

* {
  font-family: var(--font-secondary);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-primary);
}

body {
  min-height: 100dvh;
  background-color: var(--color-base);
}

.my-bg-radial {
  background: radial-gradient(circle at bottom, #4169e1 0%,  #4716ed 100%);
  /* Require: Add height or other utilities for full coverage */
}